<a href="https://colab.research.google.com/github/settawitt/git_settawitt/blob/master/LabA_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:

# 1.1.1 เริ่มจากการสร้างกำหนด List of list ขึ้นมา
technologies = [ ["Spark",20000, "30days"],
                 ["pandas",20000, "40days"],
               ]

In [ ]:
import pandas as pd

pd.DataFrame(technologies)

In [18]:
# 1.1.4 สร้าง List of Dict. (Dict. in List) ขึ้นมาบรรจุ Values และ Column Index Label
# สังเกตว่า มีการใช้ Zip กับ List 2 ตัว ที่มีจำนวน Element เท่ากัน
# โดย column_names เป็น List ที่เก็บ Column Index Label และ row เป็น List ที่เก็บ Values
# dict() เป็น Function ที่ให้เปลี่ยน​โครงสร้างข้อมูลให้เป็น Dictionary
# .append() เป็น Method ที่เพิ่ม Element เข้าไปใน List ซึ่งในที่นี้คือ raw_list


raw_list = []

for row in technologies:
  raw_list.append(dict(zip(column_names,row)))

raw_list

[{'Courses': 'Spark', 'Fee': 20000, 'Duration': '30days'},
 {'Courses': 'pandas', 'Fee': 20000, 'Duration': '40days'}]

In [19]:

# 1.1.5 นำ raw_list จาก 1.1.4 มาเป็น Parameter ของ Constructor
# สังเกตว่า ผลลัพธ์ที่ได้คือ Pandas Dataframe ที่ไม่มี Row Index Label
pd.DataFrame(raw_list)

  Courses    Fee Duration
0   Spark  20000   30days
1  pandas  20000   40days

In [20]:

# 1.1.6 เหมือนกับ 1.1.5 แต่ต่างตรงนี้ มีการเก็บผลลัพธ์ไว้เป็นตัวแปร raw_pd

raw_pd = pd.DataFrame(raw_list)

In [21]:

# 1.1.7 .info() เป็น Method ที่สรุปข้อมูลสำคัญของ Dataframe อาทิเช่น Class, Index (Rows), Columns,
# Data Types, Resource Usage เป็นต้น

raw_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Courses   2 non-null      object
 1   Fee       2 non-null      int64
 2   Duration  2 non-null      object
dtypes: int64(1), object(2)
memory usage: 176.0+ bytes

In [ ]:

# 1.2.1 สังเกตว่า มีการกำหนด Row Index Label ด้วย


import numpy as np

technologies   = {
    'Courses':["Spark","PySpark","Hadoop","Python","Pandas",None,"Spark","Python"],
    'Fee' :[22000,25000,23000,24000,np.nan,25000,25000,22000],
    'Duration':['30day','50days','55days','40days','60days','35day','','50days'],
    'Discount':[1000,2300,1000,1200,2500,1300,1400,1600]
          }

row_labels=['r0','r1','r2','r3','r4','r5','r6','r7']

pd.DataFrame(technologies, index=row_labels)

In [23]:

# 2.1 เริ่มจากการใช้ wget ซึ่งเป็นคำสั่ง Linux ใช้ดาวน์โหลดไฟล์จาก URL

! wget https://storage.googleapis.com/1sep/titanic.csv

--2023-10-25 06:30:28--  https://storage.googleapis.com/1sep/titanic.csv
Resolving storage.googleapis.com (storage.googleapis.com)... 142.251.2.207, 142.250.141.207, 2607:f8b0:4023:c0d::cf, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|142.251.2.207|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 60302 (59K) [text/csv]
Saving to: ‘titanic.csv.1’

titanic.csv.1       100%[===================>]  58.89K  --.-KB/s    in 0.007s

2023-10-25 06:30:29 (8.78 MB/s) - ‘titanic.csv.1’ saved [60302/60302]

In [24]:

# 2.2 สร้าง Pandas DataFrame จาก CSV File
pd.read_csv('titanic.csv')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [25]:

# ข้อสังเกต คือ หากไม่ระบุ Parameter อื่นๆ เช่นนี้แล้ว จะใช้ Default Parameter ในการ Read
# Default Parameter เช่น na_filter = True ซึ่งจะเป็นการอ่าน Empty Value แล้วได้ NULL
pd.read_csv('titanic.csv').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [26]:
# ตัวเลข 177 ด้านล่าง สะท้อนให้เห็นว่า na_filter=True ทำให้เกิด NULL ทั้งหมด 177 ค่า
raw_pd = pd.read_csv('titanic.csv', na_filter=False)
len(raw_pd[raw_pd['Age'] == ''])

177

In [27]:

# อ่านแบบระบุ Parameter ซึ่งไม่ใช่ Default Parameter
pd.read_csv('titanic.csv', usecols=['Name','Sex','Age','Survived']).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Name      891 non-null    object
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 28.0+ KB